# Remove everything, except...
*
!*/
!.gitignore
!*README*

# C/C+ sources
!*.c
!*.cc
!*.cpp
!*.h

# Makefiles and build scripts
!Makefile*
!*.conf
!install-sh
!bootstrap
!configure*
!depcomp

# TEX sources and media
!*.tex
!*.png
!*.jpg
!*.jpeg
!*.pdf

# CVC files (Equivalence Checking)
!*.cvc

# SocLib platform_descriptions
!*platform_desc
